*
{
margin: 0;
padding: 0;
}

body
{
background-color:grey;
}
.etusivu
{
width:1100px;
height:auto;
position: relative;
left: 50%;
margin-left: -550px;
}
.valikko
{
width:1100px;
height:130px;
position: relative;
left: 50%;
margin-left: -550px;
}

.valikkolayer
{
position: relative;
width:280px;
height: 120px;
float: top;
float:right; 
margin-right: 10px;
margin-top: 5px;
/*background-color: green;*/
}

.valikotoikea
{
position: relative;
width:120px;
height: 80px;
float: top;
float:right; 
margin-right: 0px;
margin-top: 0px;
/*background-color: red;*/
}

.valikotvasen
{
position: relative;
width:150px;
height: 120px;
float: top;
float:right; 
margin-right: 5px;
margin-top: 0px;
/*background-color: red;*/
}

.valikkonappi
{
position: relative;
width:100px;
height: 30px;
float: top;
float:right; 
margin-right: 0px;
margin-top: 3px;
/*background-color: white;*/
}

.lisaalayer
{
position: relative;
width:780px;
height: 120px;

float:left; 
margin-left: 10px;
margin-top: 5px;
/*background-color: red;*/
}

.lisaalayervasen
{
position: relative;
width:320px;
height: 120px;

float:left; 
margin-right: 0px;
margin-top: 0px;
/*background-color: violet;*/
}

.tekstikenttaotsikko
{
position: relative;
width:300px;
height: 20px;

float:left; 
margin-right: 0px;
margin-top: 0px;
/*background-color: white;*/
}
/* seuraavan voi poistaa myohemmin, sama kuin tekstikenttaotsikko, mutta testivaiheessa eri väri, ei ole pakko poistaa kuitenkaan */
.tekstikentta
{
position: relative;
width:300px;
height: 20px;

float:left; 
margin-right: 0px;
margin-top: 0px;
/*background-color: black;*/
}
.tekstikenttaotsikkopieni
{
position: relative;
width:150px;
height: 20px;

float:left; 
margin-right: 0px;
margin-top: 0px;
/*background-color: white;*/
}
.tekstikenttapieni
{
position: relative;
width:150px;
height: 20px;

float:left; 
margin-right: 0px;
margin-top: 0px;
/*background-color: black;*/
}

.lisaalayeroikea
{
position: relative;
width:450px;
height: 120px;
float: top;
float:right; 
margin-right: 0px;
margin-top: 0px;
/*background-color: violet;*/
}

.tekstikenttaiso
{
position: relative;
width:450px;
height: 80px;
/*float: top;*/
float:right; 
margin-left: 0px;
margin-top: 0px;
/*background-color: green;*/
}

.lisaalayerkeski
{
position: relative;
width:400px;
height: 120px;
left: 50%;
margin-left: -200px;
/*background-color: violet;*/
}




/*
.otsikko
{
position: relative;
width:200px;
height: 40px;
float: top;
float:left; 
margin-left: 20px;
margin-top: 20px;
background-color: #3B5998;
}


.kirjaudunappi
{
width:60px;
height:20px;
float: right;
background-color: #3B5998;
margin-right: 20px;
margin-top: 15px;
}

.MuutaSalasana
{
width:100px;
height:20px;
float: right;
background-color: #3B5998;
margin-right: 10px;
margin-top: 15px;
}
.Kirjautumistunnus
{
width:140px;
height:20px;
float: right;
background-color: #3B5998;
margin-right: 10px;
margin-top: 15px;
}
.MuutaTunnus
{
width:100px;
height:20px;
float: right;
background-color: #3B5998;
margin-right: 1px;
margin-top: 15px;
}
.kirjaudu
{
width:400px;
height: 70px;
float:right;
background-color: #3B5998;
}
.kirjaudusalasana
{
width:150px;
height:20px;
float: right;
margin-top: 15px;
margin-right: 5px;
background-color: #3B5998;
}
.kirjaudutunnus
{
width:150px;
height:20px;
float:right;
margin-top: 15px;
margin-right: 5px;
background-color:#3B5998;
}
.salasanateksti
{
width:150px;
height:20px;
float:right;
margin-right: 5px;
background-color:#3B5998;
}
.tunnusteksti
{
width: 150px;
height: 20px;
float: right;
margin-right: 5px;
background-color:#3B5998;
}

fieldset
{
     border: 0px;
}
*/
